<div id="info">
  <% if social_set.default_user %>
    <%= fb_user_avatar(social_set.default_user) %>
	
  	<p class="by">
  	  <strong><%= fb_user_name(social_set.default_user) %></strong> posted
  	</p>
	<% end %>
	
	<h1><%=h social_set.title %></h1>
	
	<p class="count">
	  <strong><%= pluralize social_set.personal_sets.count, 'person' %></strong>
	  took
	  <strong><%= pluralize social_set.posts.count, 'photo' %></strong>
	</p>
</div>

<div id="photos">
	<div id="ajaxloader" style="display: none;">&nbsp;</div>
	<div id="photos_container" class="photoscontent">
		<%= render 'posts', :social_set => social_set %>
	</div>
	
</div><!-- /photos -->	

<div id="users">
  <div id="ajaxloader2" style="display: none;">&nbsp;</div>
  <div id="photosby">
    <%= render 'users', :social_set => social_set %>
  </div><!-- /photosby -->
</div>

<div style="clear: both;">
  <span class="share"><%= fb_share_button social_set_url(social_set) %></span>
  <%= render 'layouts/comments.fbml', :title => "chiive_event_#{social_set.id}", :commentable => social_set %>
</div>
