<div style="float:left; width:80px;">
	<%= render :partial => 'users/user', :locals => { :user => comment.user } %>
</div>

<div class="info">
	<p class="comment_title">
		<span id="eip_post-<%= comment.id %>-title" class="eip-value"><%=h comment.pretty_title %></span> 
	</p>
	
	<p class="comment_meta">
		<!--
		<b>Meta:</b>
		by <span class="user"><%= link_to comment.user.pretty_name, user_social_sets_path(comment.user) %></span>
		-->
		on
		<span class="date"><%= comment.created_at.strftime("%B %e, %Y, %I:%M%P") %></span>
	</p>
	<p class="comment_body">
		<span id="eip_post-<%= comment.id %>-text" class="eip-value"><%=h comment.body %></span>
	</p>
</div>

<% if current_user and current_user == comment.user %>
<div class="admin">
	<%= link_to 'Edit', "#{edit_comment_path(comment)}?redirect_url=#{request.request_uri}" %> |
	<%= link_to 'Destroy', "#{comment_path(comment)}?redirect_url=#{request.request_uri}", :confirm => 'Are you sure?', :method => :delete, :class => 'delete_comment' %>
</div>
<% end %>

	<div class="clear"><!-- --></div>
