<div id="photo">
	<div class="navigation">
	  <% if post.previous_post %>
	    <%= link_to 'Previous', [post.social_set, post.previous_post] %>
	  <% else %>
	    Previous
	  <% end %>
	  <span><%= post.position + 1 %> of <%= post.social_set.posts.count %></span>
	  <% if post.next_post %>
	    <%= link_to 'Next', [post.social_set, post.next_post] %>
	  <% else %>
	    Next
	  <% end %>
	</div>
	<%= image_tag(post.photo.url(:iphone)) %>
</div>

<div id="photoby">
  <%= fb_user_avatar(post.user, :width => 35, :height => 35) %>

	<h3>Photo By: <strong><%= fb_user_name(post.user) %></strong></h3>
	<p><%=h post.title %></p>
	<p class="info">Posted on <%= post.time_at.strftime('%d/%m/%Y') %></p>

	<div class="share">
	  <span class="share"><%= fb_share_button social_set_post_url(post.social_set, post) %></span>
	  <!--fb:iframe src="http://www.facebook.com/plugins/like.php?href=<%= social_set_post_url(post.social_set, post) %>&amp;layout=button_count&amp;show_faces=false&amp;width=150&amp;action=like&amp;font&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:21px;" allowTransparency="true" /-->
	</div>
</div>
			
<%= render 'layouts/comments.fbml', :title => "chiive_post_#{post.id}", :commentable => post %>

<script type="text/javascript" charset="utf-8">  
  foreach(document.getElementById('photo'), 'a', function(e) {
    ajaxify_link(e, 'photo_container');
  });
</script>
