<% title "Posts" %>

	<div id="anchor">
	<% if @user.nil? %>
		<h2><strong>Latest Updates</strong></h2>
	<% else %>
		<% if @user == current_user %>
		<div class="button"><%= link_to "+ New Entry", new_user_post_path(current_user) %></div>
		<% end %>
		<h2><strong><%=h @user.pretty_name %>'s</strong> Journal</h2>
		<%=h @user.latest_stats %>
	<% end %>
		
	</div>

<%= render @posts %>

<%= will_paginate @posts %>
