<% title "User" %>

<div class="user">
	<h4>
		<%= link_to "View All Users", users_path %>
	</h4>
	
	<br />
	<div class="friendships">
		<h3>Friends</h3>
		<ul>
		<% if @user.mutual_friends.blank? %>
			<li>Go find some friends!</li>
		<% else %>
			<% @user.mutual_friends.each do |friend| %>
			<li>
				<%= link_to(friend.pretty_name, user_path(friend)) %>
				<%= link_to "Remove as Friend", current_user.get_friendship_from(friend), :method => :delete %>
			</li>
			<% end %>
		<% end %>
		</ul>
	
		<% unless @user != current_user or @user.fans_of_me.blank? %>
		<h3><%= "#{@user.fans_of_me.length} Friend Requests" %></h3>
		<ul>
			<% @user.fans_of_me.each do |friend| %>
			<li>
				<%= link_to(friend.pretty_name, user_path(friend)) %>
				<%= link_to "Confirm as Friend", friendships_path(:friend_id => friend), :method => :post %>
			</li>
			<% end %>
		</ul>
		<% end %>
	
		<% unless @user != current_user or @user.pending_mutual_friends.blank? %>
		<h3><%= "#{@user.pending_mutual_friends.length} Pending Friends" %></h3>
		<ul>
			<% @user.pending_mutual_friends.each do |friend| %>
			<li>
				<%= link_to(friend.pretty_name, user_path(friend)) %>
				<%= link_to "Remove Request", current_user.get_friendship_from(friend), :method => :delete %>
			</li>
			<% end %>
		</ul>
		<% end %>
	</div>

	<%= render @user %>
	
	<% if current_user.is_admin? %>
		<p>Role: <%= @user.is_admin? ? 'Admin' : 'User' %></p>
	<% end %>
	
	<% if @user == current_user %>
		<p><%= link_to "Edit Account", edit_user_path(@user) %></p>
	<% end %>
	

	<h4>
		<%= link_to("View Events", user_social_sets_path(@user)) %>
		
	</h4>
</div>