<div id="info">
  <%= image_tag 'copy/thumb_50x50.jpg' %>
	
	<p class="by"><strong>John Smith</strong> posted</p>
	
	<h1>Daniel’s Birthday Night in the Mission</h1>
	
	<p class="count">
	  <strong><%= pluralize User.count, 'person' %></strong>
	  took
	  <strong><%= pluralize Photo.count, 'photo' %></strong>
	</p>
</div>

<div id="photos">
	<div id="ajaxloader" style="display: none;">&nbsp;</div>	
	<div id="photos_container" class="photoscontent">
		<%= render 'photos' %>
	</div>
	
</div><!-- /photos -->	

<div id="photosby">
	<h2>Photos By:</h2>
	
	<% User.all.each do |user| %>
  	<div class="entry">
  	  <%= fb_profile_pic(user.facebook_uid, :size => :square) %>
  		<p><strong>
  		  <%= user_name(user) %>
  		  </strong><br />
  		  <%= user.photos.count %> photos
  		</p>
  	</div>
	<% end %>	
</div><!-- /photosby -->	
