<% form_for([@post.user, @post.social_set, @post], :html => { :multipart => true, :class => 'post' }) do |f| %>
	
	<%= 
	create_post_map_container(@post) 
	%>
	<%= 
	create_post_map(@post)
	%>
	
	<%= f.error_messages %>
	
	<p>
		<%= f.hidden_field :user_id, :value => current_user.id %>
	</p>
	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.datetime_select :time_at %>
	</p>
	<p>
		<% if @post.photo.file? %> <%= image_tag @post.photo.url('small') %><br>
		<%= f.label :photo, "Update Photo" %> <% else %> <%= f.label :photo %> <% end %><br>
		<%= f.file_field :photo %>
	</p>
	<p>
		<%= f.label :latitude %><br>
		<%= f.text_field :latitude, :class => 'latitude' %>
	</p>
	<p>
		<%= f.label :longitude %><br>
		<%= f.text_field :longitude, :class => 'longitude' %>
	</p>
	
	<%-
	# < % f.label "SSET ID:" % ><br>
	# < % social_sets_array = SocialSet.all.map { |social_set| [social_set.id, social_set.id] } % > 
	# < % f.select(:social_set_id, social_sets_array)  % >
	-%>
	
	<div class="clear" id="suggested-results" style="background:#ffdddd; border: solid 5px #ccc; padding:20px;"><!-- --></div>

	<p>
		<%= f.submit "Submit" %>
	</p>
	
	<!--
	<hr/>
	<% debug @post %>
	-->
		
<% end %>
	<div class="clear"><!-- --></div>
